.navbar {
     padding-left: 60px;
     padding-right: 16px;
     padding-top: 2px;
     padding-bottom: 2px;
     background-color: #004c99;
   }
 
.navbar-brand, .navbar-brand:hover {
     font-family: 'allogistlight';
     color: #fffdf3;
     font-size: 24px;
   }

nav li {
        color: #fffdf3;
   }

nav a.active {
     color: #fffdf3;
     text-decoration: underline;
}

div.nav-link a.nav-logout {
     text-decoration: none !important;
}

nav a {
     color: #fffdf3; 
     text-decoration: none;
     font-family: 'DM Sans', 'sans-serif';
}

nav a:hover {
     color: #fffdf3c6; 
     text-decoration: none;
     font-family: 'DM Sans', 'sans-serif';
}

.dropdown-toggle, .dropdown-toggle:hover {
     background-color: #004c99;
     border-color: #004c99;
     margin-top: 1px;
     color: #fffdf3;
}

#dropdownMenuButton[aria-expanded="true"], 
#dropdownMenuButton[aria-expanded="false"] {
     background-color: #004c99;
     border-color: #004c99;
     box-shadow: none;
     font-family: 'DM Sans', 'sans-serif';
     font-size: 16px;
 }


 .dropdown-item {
     color: #004c99;
 }

/* nav {
     border: 1px solid #ccc;
}

nav ul {
     list-style-type: none;
     padding: 0;
}

nav li {
     display: inline-block;
     margin: 0 5px;
}

nav a {
     padding: 10px;
} */

/* 'active' class automatically added by React Router */
/* nav a.active {
     background-color: #ccc;
} */
