nav a:hover {
	background-color: rgb(233, 237, 233);
}

.cart-count {
	position: absolute;
	top: -6px;
	left: 17px;
	font-weight: bold;
}

.searchBar {
	background-color: white;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
  }
  
  .searchBar:empty {
	border: none;
  }
  
  .searchBar-row {
	cursor: pointer;
	text-align: start;
	margin: 2px 0;
  }
  

  

	 
